body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(59, 59, 59) 100%);
}

.column{
    display:inline-block;
}
button {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgb(205, 205, 205);
    border-radius: 10em;
    color: transparent;
}
button:hover{

}

.btn1 {
    background-color: rgb(85, 216, 246);
}
.btn0 {
    background-color: rgb(216, 85, 246);
}